---
import "@assets/styles/global.css";
import PageLayout from "@layouts/PageLayout.astro";
---

<PageLayout>
	<div class="flex flex-col text-blue-600">
		<a href="/admin">CMS</a>
		<a href="/admin/config.yml">CMS Config</a>
		<a href="/blog/seed">Seed Post</a>
	</div>
</PageLayout>
